__pycache__/
*.pyc
*.pyo
exoset/templates/blank.html
exoset/templates/buttons.html
exoset/templates/cards.html
exoset/templates/charts.html
exoset/templates/forgot-password.html
exoset/templates/gulpfile.js
exoset/templates/login.html
exoset/templates/package-lock.json
exoset/templates/package.json
exoset/templates/register.html
exoset/templates/tables.html
exoset/templates/utilities-animation.html
exoset/templates/utilities-border.html
exoset/templates/utilities-color.html
exoset/templates/utilities-other.html
.idea/*
/docs/_build/*
exoset/media/document/*
exoset/media/github/*
