{% extends 'base_template.html' %}

{% load static i18n group_extra %}


{% block content %}

<header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://exoset.epfl.ch">ExoSet</a>
    </p>

    <ul aria-hidden="true" class="nav-header d-none d-xl-flex" >
      {% for parent_ontology in list_parent_ontology %}
        <li id="menu-item-{{ forloop.counter }}" {% if root_ontology_filter == parent_ontology %} class="current-menu-item" {% endif %}>
          <a class="nav-item" href="{% url 'document:exercises-list' ontologyRoot=parent_ontology %}" > {% trans  parent_ontology  %}</a>
        </li>
      {% endfor %}
    </ul>


    <form action="#" class="d-xl-none" id="test">
      <a id="search-mobile-toggle" class="search-mobile-toggle searchform-controller" href="#">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
        <span class="toggle-label sr-only">Afficher / masquer le formulaire de recherche</span>
      </a>
      <div class="input-group search-mobile" role="search">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
        </div>
        <label for="search" class="sr-only">Rechercher sur le site</label>
        <input type="text" class="form-control" name="search" placeholder="Rechercher">
        <div class="input-group-append">
          <a id="search-mobile-close" class="search-mobile-close searchform-controller" href="#">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-close"></use>
            </svg>
            <span class="toggle-label sr-only">Masquer le formulaire de recherche</span>
          </a>
        </div>
      </div>
    </form>
    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>
      <form action="{% url 'document:exercises-list-no-filter' %}" class="dropdown-menu border-0 p-0" method="get" style="display: block; top: -15px">
        <div class="search-form mt-1 input-group">
          <label for="search" class="sr-only"> {% trans "Search on the website" %}</label>
          <input type="text" class="form-control" name="search" placeholder="Search">
          <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">{% trans "Confirm" %}</button>
        </div>
      </form>
    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|html_decode}}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> <span>FR</span> </button>
              </li>

              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"><span> EN</span> </button>
              </li>
            </ul>
        </form>
    {% if user.is_authenticated %}
      <!---  START DRAG AND DROP ROW FUNCTION  --->
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/themes/smoothness/jquery-ui.css" />
      <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.24/jquery-ui.min.js"></script>
      <script>
        function reorder_list(){
          let list_exercises = ''
          $('#table_id tbody tr').each(function(){
            item_id = String(this.id) + ','
            //console.log(item_id)
            list_exercises += item_id
          })
            //console.log(list_exercises)
            adjust_row(list_exercises)
        }
        $(function () {
          $("#table_id").sortable({
            items: 'tr:not(tr:first-child)',
            dropOnEmpty: false,
            start: function (G, ui) {
              ui.item.addClass("select");
              //console.log("start mooving")
              },
            stop: function (G, ui) {
              ui.item.removeClass("select");
              $(this).find("tr").each(function (table_id) {
                if (table_id > 0) {
                  $(this).find("td").eq(2).html(table_id);
                }
                reorder_list()
              });
              //console.log("end mooving")
            },
          });
        });

      </script>
      <!---  END DRAG AND DROP ROW FUNCTION  --->
      <div style="display: flex; justify-content: center;">
        <button style="background-color: transparent; color: #ff0000" class="btn btn-primary" onclick="getCart()" data-toggle="modal" data-target="#exampleModalCenter">

        <div style="display: inline">{{user.username}}</div>
          <div id="shopping_cart_items" class="oval">{{ exercises_number }}</div></button>

      </div>
      <!-- START MODAL for CREATE SERIES -->

      <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" style="max-width: 900px;" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Series" %}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% if exercises_ids %}
            <div class="modal-body">
              <div class="card-body pb-0">
              <table id="table_id" class="table table-boxed" style="border-radius: 10px; border-collapse: unset; border: none; -webkit-user-select: none; -ms-user-select: none; user-select: none;">
                <tbody>
                <tr></tr>
                  {% for exercise in cart_view %}
                    <tr id="{{ exercise.exercise.id }}" style="border-radius: 10px; cursor:all-scroll;">
                      <td style="border: 1px solid #c1c1c1; border-radius: 10px;">
                        <h5 style="margin-bottom: 2px; padding-left: 4%"><a href="{% url 'document:resource-detail' exercise.exercise.slug %}">{{ exercise.exercise.title }}</a></h5>
                        <button type="button" class="close" onclick="remove_exercise({{ exercise.exercise.id }})" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                        <ul class="tableExercises">
                          <li style="color: #c1c1c1; width: 4%; font-size: 12px; "><span><img src="{% static 'images/drag.png' %}" style="width: 60%; margin-top: -10px" alt="drag row"/></span></li>
                          <li style="color: #c1c1c1; font-weight: 400; width: 24%; font-size: 10px; content: none">{% trans "Course" %} <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.related_courses }}</div></li>
                          <li style="color: #c1c1c1; font-weight: 400; width: 24%; font-size: 10px; content: none">{% trans "Category" %} <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.ontology_path }}</div></li>
                          <li style="color: #c1c1c1; font-weight: 400; width: 24%; font-size: 10px"><span>{% trans "Difficulty" %} </span> <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.tag_level }}</div></li>
                          <li style="color: #c1c1c1; font-weight: 400; width: 24%; font-size: 10px"><span>{% trans "Collection" %}</span><br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.author }}</div></li>
                        </ul>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
            </div>
            <div class="modal-footer">
              <button class="btn btn-secondary" onclick="clear_table('table_id')">{% trans "Clear series" %}</button>
              <a id="overleaf" type="button" class="btn btn-primary" href="/resources/overleaf_series/{{ exercises_ids }}" target="_blank" {{ teacher_permission }}>{% trans "Open in Overleaf" %}</a>
              <a id="download_series" type="button" class="btn btn-primary"  href="/resources/download_series/{{ exercises_ids }}" target="_blank" {{ teacher_permission }}>{% trans "Download Latex files" %}</a>
              <a id="download_series_pdf" type="button" class="btn btn-primary" href="/resources/download_pdf/{{ exercises_ids }}" target="_blank">{% trans "Download PDF files" %}</a>

              <!---- END MODAL for CREATE SERIES -->
            {% endif %}
            {% else %}
      <div style="display: flex; justify-content: center;">
        <a type="button" style="background-color: transparent; color: #ff0000" class="btn btn-primary" href="/login/?next={{ request.path }}">{% trans "Login" %}</a>
      </div>
            {% endif %}
      </div>
      </div>
      </div>
      </div>

    </nav>
    <div class="btn btn-secondary nav-toggle-mobile d-xl-none">
      <span class="label">Menu</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>


<div class="main-container">
  <!-----BREADCRUMB CONTAINER ---->
  <div class="breadcrumb-container">
    <nav id="breadcrumb-wrapper" class="breadcrumb-wrapper" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'document:exercises-list-no-filter' %}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-home">
            <symbol id="icon-home" viewBox="0 0 11 12"> <path d="m0 5 5.25-5 5.25 5v7H0z" fill-rule="evenodd"></path>
            </symbol></use>
          </svg></a>
        </li>

      {% if root_ontology_filter %}
        <li class="breadcrumb-item">
          <a href="{% url  'document:exercises-list' root_ontology_filter %}">{% trans root_ontology_filter %}</a>
        </li>
      {% endif %}
        {% if parent_ontology_filter %}
        <li class="breadcrumb-item">
          <a href="{% url  'document:exercises-list-parentOntology' root_ontology_filter parent_ontology_filter %}">{% trans parent_ontology_filter %}</a>
        </li>
        {% endif %}
        {% if child_ontology_filter %}

        <li class="breadcrumb-item">
          <a href="{% url  'document:exercises-list-childOntology' root_ontology_filter parent_ontology_filter child_ontology_filter%}">{% trans child_ontology_filter %}</a>
        </li>
        {% endif %}
      </ol>
    </nav>
  </div>
  <!-----BREADCRUMB CONTAINER ---->

  <!--<div class="overlay"></div>-->
<!--<nav class="nav-main" id="main-navigation" role="navigation">
  <div class="nav-wrapper">
    <div class="nav-container">
      <ul class="nav-menu">
      <li class="current-menu-item">
        <a href="https://www.epfl.ch/about/overview/fr/histoire/">Histoire de l'EPFL</a>
      </li>


      </ul>
    </div>
  </div>
</nav>-->

<!---ASIDE NAVIGATION--->
<div class="nav-toggle-layout nav-aside-layout">
  <div class="overlay"></div>

  <nav id="main-navigation" class="nav-main" role="navigation">
    <div class="nav-wrapper">
      <div class="nav-container current-menu-parent">
        <ul class="nav-menu">
          <!--<li class="menu-item-has-children">Categories</li>-->
          <li><div style="color: #ff0000; font-weight: bold; font-size: large; padding-top: 0.8rem; padding-bottom: 0.8rem"> {% trans "Categories" %}<span class="sr-only">(page courante)</span> </div></li>

      {% if child_ontology_filter %}

        {% for key, category in ontology_list_left_menu.items %}
          <li {% if key == child_ontology_filter %} class="active" {% endif %}><a href="{% url  'document:exercises-list-childOntology' root_ontology_filter parent_ontology_filter category %}">{% trans key %}</a></li>
        {% endfor %}


      {% elif parent_ontology_filter %}
           {% for key, category in ontology_list_left_menu.items %}
          <li><a href="{% url  'document:exercises-list-childOntology' root_ontology_filter parent_ontology_filter category %}">{% trans key %}</a></li>
        {% endfor %}

      {% elif root_ontology_filter %}
           {% for key, category in ontology_list_left_menu.items %}
          <li><a href="{% url  'document:exercises-list-parentOntology' root_ontology_filter category %}">{% trans key %}</a></li>
        {% endfor %}

        {% else %}
           {% for category in ontology_list_left_menu.items %}
          <li><a href="{% url  'document:exercises-list' category %}">{% trans category %}</a></li>
        {% endfor %}

      {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="w-100 pb-5"><!--
    <main id="main" class="content container-grid" role="main">-->
  <!----SHOWING TABLE RESULTS -->
    <div class="card-body">
      <div class="small text-muted"> {% trans "Showing" %} {{ page_obj.start_index }} - {{ page_obj.end_index }} {% trans "of" %} {{ page_obj.paginator.count }}
          {% trans "results" %}
      </div>
    </div>
    {% for object in object_list %}

    <div class="card-body pb-0">
      <h3 class="h5 card-title" style="padding-right: 25px">
        <a href="{% url 'document:resource-detail' object.slug %}">{{ object.title }}</a>{% autoescape on %}<button class="btn btn-primary" {{ add_cart }} onclick="add_exercise({{ object.id }})"> {% endautoescape %}{% trans "Add to series" %}</button>
      </h3>
      <ul class="project-data list-inline has-sep small text-muted">
        <li class="tableExercises"><span>{% trans "Course" %} </span><br><div class="tableExercisesText">{{ object.related_courses }}</div></li>
        <li class="tableExercises"><span>{% trans "Category" %} </span><br><div class="tableExercisesText">{{ object.ontology_path }}</div></li>
        {% if object.family_problem %}
        <li class="tableExercises"><span>{% trans "Problem" %} </span><br>
          <div class="tableExercisesText">{{ object.family_problem }}</div>
        </li>
        {% endif %}
        <li class="tableExercises"><span>{% trans "Difficulty" %} </span> <br><div class="tableExercisesText">{{ object.tag_level }}</div></li>
        <li class="tableExercises"><span>{% trans "Question" %}</span><br><div class="tableExercisesText">{{ object.tag_question_type }}</div></li>
        <li class="tableExercises"><span>{% trans "Collection" %}</span><br><div class="tableExercisesText">{{ object.author }}</div></li>
      </ul>
    <ul class="project-data list-inline has-sep small text-muted">
       {% for concept in object.tag_concept %}
        <li class="tableExercises"><span>{{ concept }} </span></li>
      {% endfor %}
     </ul>
    </div>
    <!--<div class="card-footer mt-auto">
      {% for concept in object.tag_concept %}
        <span class="tag tag-plain">{{ concept }}</span>
      {% endfor %}
    </div>-->


    <!-- If object_list is empty  -->
    {% empty %}
    <div class="card-body pb-0">
      <h3 class="h5 card-title">{% trans "No results matching your filters." %}</h3>
    </div>
    {% endfor %}


    <div id="domMessage" style="display:none;">
    <h1>We are processing your request.  Please be patient.</h1>
</div>





  <!----  END SHOWING TABLE RESULTS -->
<!----PAGINATION --->
  {% if is_paginated %}
    <div class="card-body pb-0">
      <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?{% query_transform page=1 %}" aria-label="Go to first page">
              <i class="fa fa-angle-double-left"></i>
            </a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?{% query_transform page=page_obj.previous_page_number %}"  aria-label="Go to previous page"> <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" href="" aria-label="Go to first page"><i class="fa fa-angle-double-left"></i></a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="" aria-label="Go to previous page"> <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span></a>
          </li>
          {% endif %}
          {% for i in page_obj.paginator.page_range  %}
            {% if page_obj.number == i %}
              <li class="page-item active">
                <a class="page-link" href="" aria-current="page">{{ i }}  <span class="sr-only">{% trans "(Current page)"%}</span></a>
              </li>
            {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
              <li class="page-item">
                <a class="page-link" href="?{% query_transform page=i %}">{{ i }}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
            {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
              <li class="page-item">
              <a class="page-link"><span>...</span>
              </a>
              </li>
              <li class="page-item">
              <a class="page-link" href="?{% query_transform page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }} </a>
              </li>
            {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
              <li class="page-item">
                <a class="page-link" href="?{% query_transform page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }} </a>
              </li>
            {% endif %}
            <li class="page-item">
              <a class="page-link" href="?{% query_transform page=page_obj.next_page_number %}" aria-label="Next"><i class="fa fa-angle-right"></i></a>
            </li>
            <li class="page-item">
              <a class="page-link" href="?{% query_transform page=page_obj.paginator.num_pages %}" aria-label="Last page"><i class="fa fa-angle-double-right"></i></a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#" aria-label="Last page"> <i class="fa fa-angle-double-right"></i></a>
            </li>
          {% endif %}
          </ul>

        </nav>
    </div>
  {% endif %}
<!---- END PAGINATION --->
  <!--  </main>-->
  </div>
<!--- ASIDE NAVIGATION MENU ---->
  <aside class="nav-aside-wrapper">
  <nav id="nav-aside" class="nav-aside" role="navigation" aria-describedby="nav-aside-title">
      <ul class="list-unstyled">
          <li><div style="color: #ff0000; font-weight: bold; font-size: large"> {% trans "Categories" %}<span class="sr-only">(page courante)</span> </div></li>

      {% if child_ontology_filter %}

        {% for key, category in ontology_list_left_menu.items %}
          <li {% if key == child_ontology_filter %} class="active" {% endif %}><a href="{% url  'document:exercises-list-childOntology' root_ontology_filter parent_ontology_filter key %}">{% trans category %}</a></li>
        {% endfor %}


      {% elif parent_ontology_filter %}
           {% for key, category in ontology_list_left_menu.items %}
          <li><a href="{% url  'document:exercises-list-childOntology' root_ontology_filter parent_ontology_filter key %}">{% trans category %}</a></li>
        {% endfor %}

      {% elif root_ontology_filter %}
           {% for key, category in ontology_list_left_menu.items %}
          <li><a href="{% url  'document:exercises-list-parentOntology' root_ontology_filter key %}">{% trans category %}</a></li>
        {% endfor %}

        {% else %}
           {% for category in ontology_list_left_menu%}
          <li><a href="{% url  'document:exercises-list' category %}">{% trans category %}</a></li>
        {% endfor %}

      {% endif %}
      </ul>
  <!--difficulty choice-->



         <form method="get" action="">
         <ul class="list-unstyled">
         <li><div class="title_filters"> {% trans "Difficulties" %}<span class="sr-only">(page courante)</span> </div></li>
        {% for difficulty in difficulties_list %}
           <li>
            <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" name="difficulty"
                                                               id="{{ difficulty.pk }}" value="{{ difficulty.pk }}"
                    {% if difficulty.pk in difficulties_selected %} checked {% endif %}>
                 <label class="custom-control-label" for="{{ difficulty.pk }}">{{ difficulty.label}} </label>
            </div>
           </li>
        {% endfor %}
         </ul>

         <ul class="list-unstyled">
         <li><div class="title_filters"> {% trans "Study Program" %}<span class="sr-only">(page courante)</span> </div></li>
         {% for course in courses_list %}
              <li>
            <div class="custom-control custom-radio"><input type="radio" class="custom-control-input" name="course" id="course_{{ course.pk }}" value="{{ course.pk }}"
            {% if course.pk == course_selected %} checked {% endif %}>
                 <label class="custom-control-label" for="course_{{ course.pk }}">{{ course.name}}</label>
            </div>
           </li>
         {% endfor %}
         </ul>
         <ul class="list-unstyled">
          <li><div class="title_filters"> {% trans "Languages" %}<span class="sr-only">(page courante)</span> </div></li>
            {% for language in languages_list %}
              <li>
                <div class="custom-control custom-checkbox"><input type="checkbox" class="custom-control-input" name="language"
                                                               id="{{ language.0 }}" value="{{ language.0}}"
                    {% if language.0 in languages_selected %} checked {% endif %}>
                 <label class="custom-control-label" for="{{ language.0 }}">{{ language.1}} </label>
                </div>
              </li>
            {% endfor %}
          </ul>

         <ul class="list-unstyled">
           <li><div class="custom-control" style="padding-left: 3rem !important;"><button class="btn btn-primary hover" name="submit" value="submit">{% trans "Filter" %}</button></div></li>
         </ul>
        </form>


</nav>
  </aside>
<!--- END ASIDE NAVIGATION MENU ---->
</div>
<!--- END ASIDE NAVIGATION--->
<!--- FOOTER --->
<div class="bg-gray-100 pt-5" style="padding-top: 1.5rem !important; margin-top:calc(0%)">
  <div style="padding: 0.3rem 6rem; bottom: 0px; ">
    <footer class="footer" role="containerinfo">
       <div class="footer-legal" style="border-top: none; padding-top:-10px">

    <div class="footer-legal-links" >

      <a href="https://exoset.epfl.ch/about"  >{% trans "Aim of ExoSet" %}</a>

      <a href="https://exoset.epfl.ch/about">{% trans "Contact us" %}</a>

      <a href="https://exoset.epfl.ch/about">{% trans "Download source code" %}</a>

    </div>

    <div>

      <p>&copy; 2021 EPFL, tous droits réservés</p>

    </div>

  </div>
    </footer>





  </div>
</div>
<!--- END FOOTER --->

</div>
{% endblock %}

