{% extends 'base_template.html' %}

{% load static i18n group_extra %}


{% block content %}

<header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://test-exoset.epfl.ch">ExoSet</a>
    </p>

    <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
      {% for parent_ontology in list_parent_ontology %}
        <li id="menu-item-{{ forloop.counter }}" {% if breadcrumb1 == parent_ontology %} class="current-menu-item" {% endif %}>
          <a class="nav-item" href="{% url 'document:exercises-list' ontologyRoot=parent_ontology %}" > {% trans parent_ontology %}</a>
        </li>
      {% endfor %}
    </ul>


    <form action="#" class="d-xl-none">
      <a id="search-mobile-toggle" class="search-mobile-toggle searchform-controller" href="#">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
        <span class="toggle-label sr-only">Afficher / masquer le formulaire de recherche</span>
      </a>
      <div class="input-group search-mobile" role="search">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
        </div>
        <label for="search" class="sr-only">Rechercher sur le site</label>
        <input type="text" class="form-control" name="search" placeholder="Rechercher">
        <div class="input-group-append">
          <a id="search-mobile-close" class="search-mobile-close searchform-controller" href="#">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-close"></use>
            </svg>
            <span class="toggle-label sr-only">Masquer le formulaire de recherche</span>
          </a>
        </div>
      </div>
    </form>
    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>
      <form action="#" class="dropdown-menu border-0 p-0">
        <div class="search-form mt-1 input-group">
          <label for="search" class="sr-only">Rechercher sur le site</label>
          <input type="text" class="form-control" name="search" placeholder="Rechercher">
          <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">Valider</button>
        </div>
      </form>
    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> FR </button>
              </li>
              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"> EN </button>
              </li>
            </ul>
        </form>
      {% if user.is_authenticated %}
      <div style="display: flex; justify-content: center;"><button style="background-color: transparent; color: #ff0000" class="btn btn-primary" onclick="getCart()"
      data-toggle="modal" data-target="#exampleModalCenter">

        {{user.username}}<span id="shopping_cart_items" style="padding-left: 5px">{{ exercises_number }}</span></button>
      </div>

      <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" style="max-width: 900px;" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{% trans "Series" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% if exercises_ids %}
      <div class="modal-body">
        <div class="card-body pb-0">
        <table id="table_id" class="table table-boxed" style="border-radius: 10px; border-collapse: unset; border: none">
          <tbody>
            {% for exercise in cart_view %}
              <tr id="{{ exercise.exercise.id }}" style="border-radius: 10px" >
                <td style="border: 1px solid #c1c1c1; border-radius: 10px;">
                  <h5 style="margin-bottom: 2px"><a href="{% url 'document:resource-detail' exercise.exercise.slug %}">{{ exercise.exercise.title }}</a></h5>
                    <button type="button" class="close" onclick="remove_exercise({{ exercise.exercise.id }})" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>

                   <ul class="tableExercises">
                     <li style="color: #c1c1c1; font-weight: 400; width: 25%; font-size: 12px; ">{% trans "Course" %} <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.related_courses }}</div></li>
                <li style="color: #c1c1c1; font-weight: 400; width: 25%; font-size: 12px">{% trans "Category" %} <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.ontology_path }}</div></li>
                <li style="color: #c1c1c1; font-weight: 400; width: 25%; font-size: 12px"><span>{% trans "Difficulty" %} </span> <br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.tag_level }}</div></li>
                <li style="color: #c1c1c1; font-weight: 400; width: 25%; font-size: 12px"><span>{% trans "Collection" %}</span><br><div style="color: #212121; font-size: 14px">{{ exercise.exercise.author }}</div></li>
              </ul>
                </td>

              </tr>
            {% endfor %}
          </tbody>
        </table>
        </div>
      </div>
      <div class="modal-footer">
         <button id="clear_table" class="btn btn-secondary" onclick="clear_table('table_id')">{% trans "Clear all" %}</button>
        <a id="overleaf" type="button" class="btn btn-primary" href="resources/overleaf_series/{{ exercises_ids }}" target="_blank" {{ teacher_permission }} >{% trans "Open in Overleaf" %}</a>
        <a id="download_series" type="button" class="btn btn-primary"  href="resources/download_series/{{ exercises_ids }}" target="_blank" {{ teacher_permission }}>{% trans "Download Latex files" %}</a>
        <a id="download_series_pdf" type="button" class="btn btn-primary" href="/resources/download_pdf/{{ exercises_ids }}" target="_blank">{% trans "Download PDF files" %}</a>

  {% endif %}

    {% else %}
      <div style="display: flex; justify-content: center;"><a type="button" style="background-color: transparent; color: #ff0000" class="btn btn-primary" href="/login/?next={{ request.path }}">{% trans "Login" %}</a>
                </div>
    {% endif %}
    </nav>

  </div>
</header>
<!--END HEADER -->

<div class="main-container">
  <!-- BREADCRUMB -->
  <div class="breadcrumb-container">
    <nav id="breadcrumb-wrapper" class="breadcrumb-wrapper" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'document:exercises-list-no-filter' %}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-home">
            <symbol id="icon-home" viewBox="0 0 11 12"> <path d="m0 5 5.25-5 5.25 5v7H0z" fill-rule="evenodd"></path>
            </symbol></use>
          </svg></a>
        </li>

        {% if breadcrumb1 %}
          <li class="breadcrumb-item">
            <a href="{% url  'document:exercises-list' breadcrumb1 %}">{% trans breadcrumb1 %}</a>
          </li>
        {% endif %}
        {% if breadcrumb2 %}
          <li class="breadcrumb-item">
            <a href="{% url  'document:exercises-list-parentOntology' breadcrumb1 breadcrumb2 %}">{%trans breadcrumb2|html_decode  %}</a>
          </li>
        {% endif %}
        {% if breadcrumb3 %}
          <li class="breadcrumb-item">
            <a href="{% url  'document:exercises-list-childOntology' breadcrumb1 breadcrumb2 breadcrumb3%}">{% trans breadcrumb3|html_decode %}</a>
          </li>
        {% endif %}
        <li class="breadcrumb-item">{{ object.title }}</li>
      </ol>
    </nav>
  </div>


  <!-- DOCUMENT FIRST TABLE -->
<div class="nav-toggle-layout nav-aside-layout">

  <div class="w-100 pb-5">
    <div class="row">
     <div class="col-lg-2 col-md-2 col-sm-1">
     </div>
    <div class="col-lg-10 col-md-10 col-sm-11 col-xs-12">
      <div class="card-body pb-0" style="margin-left: -12px">
        <h3 class="h5 card-title">
          <h3  style="padding-right: 25px">{{ object.title }}
          {% autoescape on %}<button class="btn btn-primary" {{ add_cart }} onclick="add_exercise({{ object.id }})"> {% endautoescape %}{% trans "Add to cart" %}</button>

          </h3>
        </h3>
        <ul class="project-data list-inline has-sep small text-muted">
          <li class="tableExercises"><span>{% trans "Course" %} </span><br><div class="tableExercisesText">{{ object.related_courses }}</div></li>
          <li class="tableExercises"><span>{% trans "Category" %} </span><br><div class="tableExercisesText">{{ object.ontology_path }}</div></li>
          <li class="tableExercises"><span>{% trans "Difficulty" %} </span> <br><div class="tableExercisesText">{{ object.tag_level }}</div></li>
          <li class="tableExercises"><span>{% trans "Question" %}</span><br><div class="tableExercisesText">{{ object.tag_question_type }}</div></li>
          <li class="tableExercises"><span>{% trans "Collection" %}</span><br><div class="tableExercisesText">{{ object.author }}</div></li>
        </ul>
      </div>
      <div class="card-footer mt-auto">
      {% for concept in object.tag_concept %}
        <span class="tag tag-plain">{{ concept }}</span>
      {% endfor %}
      </div>
    </div>
    </div>

<!-- PDF SECTION-->
  <div class="row">
    <div class="col-lg-1 col-md-1">
    </div>

        {% if user.is_authenticated %}
          <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
          <nav class="nav-tabs-light-wrapper">

            <ul class="nav nav-tabs-light">

              <li><a id="statement_link" class="nav-link  active" href="" onclick="change_document('{{ statement.file }}', '{{ statement.get_document_type_display }}'); return false;">{% trans "Statement" %}</a></li>
              <li>
                <a  id="solution_link" class="nav-link" href=""  onclick="change_document('{{ solution.file }}', '{{ solution.get_document_type_display }}'); return false;">{% trans "Solution" %}</a>
              </li>
            </ul>


          </nav>
          <div class="card shadow mb-4">
                   <!-- Card Header - Dropdown -->

            <div class="card-body" >
              <div class="chart-area" style="height: 800px;">
                <iframe id="exercise_pdf" src="{% static 'pdfjs-2.0/web/viewer.html' %}?file=/media/{{ statement.file}}" style="border: none;" width="100%" height="100%">
                  {% trans "This browser does not support PDFs. Please download the PDF to view it:" %}
                  <a href="/media/{{ statement.file}}">{% trans "Download" %} PDF</a>
                </iframe>
              </div>
            </div>
          </div>
          </div>
        {% else %}
          <div class="col-lg-2 col-md-2 col-sm-1 col-xs-1"></div>
          <div class="col-lg-5 col-md-5 col-sm-10 col-xs-10">
            <div class="card shadow mb-4">
              <div class="card-body bg-gray-100" >
                <div class="container"><p class="centered-block"><img src="{% static '/images/error.png' %}" alt="Pdf not available" class="img-fluid"></p><h3 class="center-block">{% trans "Unauthorized"%}</h3><h4 class="center-block">{% trans "Exercises are available to authenticated users" %}</h4></div>
                <div style="display: flex; justify-content: center;"><a type="button" class="btn btn-primary hover" href="/login/?next={{ request.path }}">{% trans "Login" %}</a>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
</div>
<!-----END PDF SECTION ------->


<!-- MORE DETAILS SECTION -->
  <div class="row">
     <div class="col-lg-3 col-md-3 col-sm-1">
     </div>
    <div class="col-lg-6 col-md-6 col-sm-11 col-xs-12">
      <h4>{% trans "More Details" %}</h4>

      <dl class="definition-list definition-list-grid">

        <dt>{% trans "Ontological classification" %}</dt>
        <dd>{% for branch in ontology %}
          {{ branch.category.get_root }} <i class="fa fa-angle-right"></i>
          {{ branch.category.get_parent }} <i class="fa fa-angle-right"></i>
          {{ branch.category.name }} <br>
        {% endfor %}
        </dd>

        <dt>{% trans "Course Type" %}</dt>
        <dd>{{ object.related_courses }}</dd>

        <dt>{% trans "Difficulty" %}</dt>
        <dd>{{ object.tag_level }}</dd>

        <dt>Concepts</dt>
        <dd>
        {% for concept in object.tag_concept %}
          <span class="tag tag-plain">{{ concept }}</span>
            {% endfor %}
        </dd>

        <dt>{% trans "Prerequisites" %}</dt>
        <dd>{{ object.prerequisite_assigned }}</dd>

        <dt>{% trans "Question Type" %}</dt>
        <dd>{{ object.tag_question_type }}</dd>

        <dt>{% trans "Typical Problem" %}</dt>
        <dd>{{ object.family_problem }}</dd>

        <dt>{% trans "Document Language" %}</dt>
        <dd>{{ object.get_language_display }}</dd>

        <dt>{% trans "Collection" %}</dt>
        <dd>{{ object.author }}</dd>

        <dt>{% trans "Upload Date" %}</dt>
        <dd>{{ object.date_creation }}</dd>

      </dl>
    </div>
   <div class="col-lg-3 col-md-3 col-sm-11 col-xs-12">
   </div>
  </div>
<!----END MORE DETAIL SECTION----->
  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-1">
     </div>
    <div class="col-lg-6 col-md-6 col-sm-11 col-xs-12">
      <h4>{% trans "Download Resource (Latex)" %}</h4>
    {% if request.user|has_group:"teacher" %}
      <p><a href="{% url 'document:get_files' object.pk %}">{% trans "Download" %}</a></p>
      <h4>{% trans "Open in Overleaf" %}</h4>
      <p><a type="button" class="btn btn-primary" href="{% url 'document:overleaf_exercise' object.slug %}" target="_blank">{% trans "Open in Overleaf" %}</a></p>

    {% else %}
      <p>{% trans "You are not allowed to download the source code." %}</p>
     <p><a href="{% url 'about' %}#permission_download">{% trans "permission" %}</a></p>
    {% endif %}
    </div>
  <div class="col-lg-3 col-md-3 col-sm-1">
     </div>
  </div>
  </div>

</div>
<!--- FOOTER --->
<div class="bg-gray-100 pt-5" style="padding-top: 1.5rem !important; bottom: 0px;">
  <div style="padding: 0.3rem 6rem; bottom: 0px;">
    <footer class="footer" role="containerinfo">
       <div class="footer-legal" style="border-top: none; padding-top:-10px">

    <div class="footer-legal-links" >

      <a href="https://test-exoset.epfl.ch/about"  >{% trans "Aim of ExoSet" %}</a>

      <a href="https://test-exoset.epfl.ch/about">{% trans "Contact us" %}</a>

      <a href="https://test-exoset.epfl.ch/about">{% trans "Download source code" %}</a>

    </div>

    <div>

      <p>&copy; 2021 EPFL, tous droits réservés</p>

    </div>

  </div>
    </footer>





  </div>
</div>
<!--- END FOOTER --->
</div>
<script>
  function change_document(document_file, type_document){
  var doc=document.getElementById('exercise_pdf');
  console.log("doc is")
  doc.setAttribute('src', '{% static 'pdfjs-2.0/web/viewer.html' %}?file=/media/'+ document_file);
  var solution_link = document.getElementById('solution_link')
    var statement_link = document.getElementById('statement_link')
  if(type_document=='Solution'){
    solution_link.setAttribute('class', 'nav-link active')
    statement_link.setAttribute('class', 'nav-link')
  }else{
    solution_link.setAttribute('class', 'nav-link')
    statement_link.setAttribute('class', 'nav-link  active')
  }
  //document.getElementById('type_of_document_shown').innerText=document_type;
  console.log("the doc has been found " + doc)

}

function add_exercise(exercise) {
    console.log("add exercise")
    var endpoint = '{% url "document:cart" %}';
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    var exercise_ids = ''
    var link = 'resources/overleaf_series/'
    var link_download = 'resources/download_series/'
    $.ajax({
        url : endpoint, // the endpoint
        type : "POST", // http method
        headers:{"X-CSRFToken": $crf_token},
        data : {
          "exercise" : exercise,
        }, // data sent with the post request

        // handle a successful response
        success : function(data) {
            var updates_cart_number = String(data['exercises_number'])
            location.reload()
            $('#shopping_cart_items').text(updates_cart_number)
            exercise_ids = data['exercises_ids']
            console.log(data['exercises_ids'])
            //$("a#overleaf").prop("href", "/resource/overleaf_series/" + exercise_ids);
            console.log("success!!")
            link += exercise_ids
              link_download += exercise_ids
              console.log('link is ' + link)
              $('#overleaf').attr('href', link)
              $('#download_series').attr('href', link_download)
        },
       error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
  function remove_exercise(exercise) {
    var exercise_ids = ''
    var endpoint = '{% url "document:cart" %}';
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    var link = 'resources/overleaf_series/'
    var link_download = 'resources/download_series/'
    $.ajax({
        url : endpoint, // the endpoint
        type : "POST", // http method
        headers:{"X-CSRFToken": $crf_token},
        data : {
          "exercise" : exercise,
          "remove" : true
        }, // data sent with the post request

        // handle a successful response
        success : function(data) {
            exercise_ids = data['exercises_ids']
            var updates_cart_number = String(data['exercises_number'])
            $('#'+exercise).remove();
            if($.trim(data['exercises_number'])) {
              $('#shopping_cart_items').text(updates_cart_number);
              link += exercise_ids
              link_download += exercise_ids
              console.log('link is ' + link)
              $('#overleaf').attr('href', link)
              $('#download_series').attr('href', link_download)
              console.log("success!!")
            }
            else{
              $('#shopping_cart_items').text('0')
              $('#overleaf').attr('href', link)
              $('#download_series').attr('href', link_download)
            }
        },
       error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
  function getCart() {
    var endpoint = '{% url "document:cart" %}';
    var $crf_token = $('[name="csrfmiddlewaretoken"]').attr('value');
    $.ajax({
        url : endpoint, // the endpoint
        type : "GET", // http method
        headers:{"X-CSRFToken": $crf_token},
        data : {

        }, // data sent with the post request

        // handle a successful response
        success : function(data) {
            console.log(data['exercises_number'])
          if(!$.trim(data['exercises_number'])){
             var updates_cart_number = '0'
            $('#shopping_cart_items').text(updates_cart_number)
          }
          else {
            var updates_cart_number = String(data['exercises_number'])
            $('#shopping_cart_items').text(updates_cart_number)
          }


        },
       error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
        }
    });
};
</script>

{% endblock %}
