{% extends "index.html" %}
{% load static i18n group_extra %}
<style>
table#resource_details{
  border-collapse: collapse;
}


table#resource_details tbody tr td{
  border-bottom: 1pt solid black;
}
</style>
{% block title %}
  <title>Exoset - {% trans "Details for" %} {{ object.title }}</title>
{% endblock %}
{% block content %}

  <div class="row">
  <!-- Area Chart -->

                                <!-- Card Body -->
                            {% if user.is_authenticated %}
                              <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <div class="row" style="width: 100%">
                                      <div class="col-sm-6">
                                      <h6 class="m-0 font-weight-bold">
                                         <span> {% trans "Select the document:" %} </span><br><br>
                                            {% for document in documents %}
                                              <button type="button" class="btn btn-outline-secondary" onclick="var doc=document.getElementById('exercise_pdf'); doc.setAttribute('src', '{% static 'pdfjs-2.0/web/viewer.html' %}?file=/media/{{ document.file}}'); var document_type = '{{ document.get_document_type_display }}'; document.getElementById('type_of_document_shown').innerText=document_type;">{{ document.get_document_type_display }}</button>
                                            {% endfor %}
                                      </h6>
                                      </div>
                                      <div class="col-sm-6">
                                        <div class="m-0 font-weight-bold" style="text-align: right">{% trans "Below is shown the" %}
                                          <span id="type_of_document_shown">{{ documents.0.get_document_type_display }}</span>
                                            {% trans "of the exercise." %}
                                        </div>
                                      </div>
                                    </div>

                                </div>

                                <div class="card-body" >
                                    <div class="chart-area" style="height: 800px;">
                                        <iframe id="exercise_pdf" src="{% static 'pdfjs-2.0/web/viewer.html' %}?file=/media/{{ documents.0.file}}" style="border: none;" width="100%" height="100%">
                                              {% trans "This browser does not support PDFs. Please download the PDF to view it:" %}
                                              <a href="/media/{{ documents.0.file}}">{% trans "Download" %} PDF</a>
                                              </iframe>
                                    </div>
                                </div>
                              </div>
                              </div>
                              {% else %}
                              <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                              <div class="card-body" >
                                <div class="container">{% trans "You must login to see the document"%}</div>
                                <div style="display: flex; justify-content: center;"><a type="button" class="btn btn-outline-primary" href="/login/?next={{ request.path }}">{% trans "Login with Tequila" %}</a>
                                </div>
                              </div>
                            </div>
                              </div>
                            {% endif %}



                        <!-- Earnings (Monthly) Card Example -->
                        <div class="col-xl-3 col-md-6 mb-4">
                            <div class="card border-left-success shadow h-100 py-2">
                                <div class="card-body">
                                    <div class="row no-gutters align-items-center">
                                        <div class="col mr-2">
                                            <div class="text-xl-left font-weight-bold text-success text-uppercase mb-1">
                                                {{ object.title }}
                                            </div>
                                          <table id="resource_details">
                                          <tr>
                                            <td style="border-bottom: 1pt solid black; border-top: 1pt solid black">
                                              <b>{% trans "Ontological classification:" %}</b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black; border-top: 1pt solid black">
                                              {% for branch in ontology %}
                                                    {{ branch.category.get_root }} <i class="fas fa-angle-double-right"></i>
                                                {{ branch.category.get_parent }} <i class="fas fa-angle-right"></i>
                                                {{ branch.category.name }} <br>
                                              {% endfor %}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Course type:" %}</b></td>
                                            <td style="border-bottom: 1pt solid black">
                                              {% for course in courses %}
                                                    {{ course.sector.name }}
                                              {% endfor %}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black">
                                              <b>{% trans "Degree of difficulty" %} </b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black">
                                              <span style="background-color: {{ tag_level.tag_level.color}}; width: 50%; height: 50%; color:white">{{ tag_level.tag_level.difficulty_level}}</span>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black">
                                              <b>{% trans "Concept/s:" %}</b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black">
                                              {% for concept in tag_concept %} {{ concept }};{% endfor %}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black">
                                              <b>{% trans "Prerequisites:" %}</b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black">
                                              {% for a in prerequisites.prerequisite.all %} {{ a.label }};{% endfor %}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black">
                                              <b>{% trans "Question type:" %}</b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black">
                                              {{question_type.question_type.label}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Typical problem:" %}</b>
                                            </td>
                                            <td style="border-bottom: 1pt solid black">
                                              {% for problem_type_family in problem_type %}
                                                    {{problem_type_family.tag_problem_type.label}}<br>
                                                {% endfor %}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Document language:" %}</b> </td>
                                            <td style="border-bottom: 1pt solid black">{{ object.language }}</td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Upload date:" %}</b></td>
                                            <td style="border-bottom: 1pt solid black">{{ object.date_creation }}</td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Collection:" %}</b></td>
                                            <td style="border-bottom: 1pt solid black">{{ object.author }}</td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Library" %}</b> </td>
                                            <td style="border-bottom: 1pt solid black">{{ object.library }}</td>
                                          </tr>
                                          <tr>
                                            <td style="border-bottom: 1pt solid black"><b>{% trans "Download resource:" %}</b></td>
                                            {% if request.user|has_group:"teacher" %}
                                            <td style="border-bottom: 1pt solid black"><a href="{% url 'document:get_files' object.pk %}">{% trans "Download" %}</a></td>
                                            {% else %}
                                              <td style="border-bottom: 1pt solid black">{% trans "You are not allowed to download the source code. Check out how to get" %}
                                                <a href="{% url 'about' %}#permission_download">{% trans "permission" %}</a></td>
                                            {% endif %}
                                          </tr>
                                        </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                      </div>
  </div>

{% endblock %}
