{% extends "index.html" %}
{% load static i18n %}

{% block title %}
  <title>Exoset - {% trans "Administration GitHub" %} </title>
{% endblock %}
{% block content %}
  <h2>{% trans "List of the exercises on Exoset database" %}</h2>
  <p>{% trans "This list includes the exercises in the Exoset database. Use the corresponding link to modify the metadata." %}</p>
  <p id="information_message"><strong></strong></p>
{% if resourcesourcefile_list %}
  <table id="example" class="table table-bordered table-hover" style="width: 100%">
  <thead>
    <tr>
      <th>{% trans "Title" %}</th>
      <th>{% trans "access resource" %}</th>
      <th>{% trans "Background" %}</th>
      <th>{% trans "Resource visible on exoset" %}</th>
      <th>{% trans "Missing fields" %}</th>
      <th>{% trans "Flag" %}</th>
    </tr>
  </thead>
<tbody>
  {% for resource in resourcesourcefile_list %}

    <tr>
      <td>{{ resource.resource.title }} </td>

      <td><a href="{% url 'githubadmin:metadata_creation' resource.resource.id resource.file_name %}"> {{ resource.file_name }}</a></td>
      <td>{{ resource.resource.author }}</td>
      <td>
        <span style="display: none">{{ resource.resource.visible }}</span>
        <form class="make_visible_resource" id="{{ resource.resource.id }}">
          {% csrf_token %}
          <input type="radio" id="yes" name="visibility" value="True" {% if resource.resource.visible == True %} checked {% endif %} onclick="test_submission({{ resource.resource.id }}, 'True')"><label for="yes">{% trans "Yes" %}</label>
          <input type="radio" id="no" name="visibility" value="False" {% if resource.resource.visible == False %} checked {% endif %} onclick="test_submission({{ resource.resource.id }}, 'False')"><label for="no">{% trans "No" %}</label>
          <!--<input type="submit" class="btn btn-primary" value="Change" />-->
        </form>
      </td>
      <td><span id="message_{{ resource.resource.id }}">{% if resource.resource.missing_fields_resource %}{{ resource.resource.missing_fields_resource }}{% endif %}</span></td>
      <td>
        <form class="change_flag" id="flag{{ resource.resource.id }}">
          {% csrf_token %}
          <select name="flag_option" id="select_flag_for{{ resource.resource.id }}" onchange="change_flag({{ resource.resource.id }})">
            <option  value=""{% if resource.resource.flag == '' %} selected {% endif %} >---SELECT---</option>
            <option value="REVISEMD" {% if resource.resource.flag == 'REVISEMD' %} selected {% endif %}>{% trans "Revise metadata" %} </option>
            <option value="REVISEFILE" {% if resource.resource.flag == 'REVISEFILE' %} selected {% endif %} >{% trans "Revise files" %} </option>
            <option value="OBSOLETE" {% if resource.resource.flag == 'OBSOLETE' %} selected {% endif %} >{% trans "Obsolete" %}</option>
          </select>
        </form>
      </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
  {% endif %}
  <h2>{% trans "List of the exercises only on Github" %}</h2>
  <p>{% trans "This list includes the exercises in the Github repository but not yet in exoset database. Metadata must be created" %}</p>
  {% if new_exercises %}
  <table>
  <thead>
  <tr>
                <th>{% trans "Folder title" %}</th>
                <th>{% trans "Create resource" %}</th>

            </tr>
  {% for resource in new_exercises %}
    <tr>
      <td>{{ resource }} </td>
      <td><a href="{% url 'githubadmin:metadata_creation' None resource %}"> {% trans "Access" %}</a></td>
    </tr>
  {% endfor %}
  </thead>
  <tbody>

  </tbody>
  </table>
  {% else %}
  <p>{% trans "No new exercise on Github" %}</p>
  {% endif %}


<script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>

<script>
    $(document).ready(function () {
    $('#example').DataTable( {
        "paging": true,
        "searching": true,
        "autoWidth": false,
        "ordering":true,
        "columnDefs": [
            {"width": "50px", "targets": 0},
            {"width": "250px", "targets": 1},
        ],
    }
    );
} );
</script>

<script>
function test_submission(pk_form, value_visible){
	    var url_link = "{% url 'githubadmin:publish_resource' %}"
	    $.ajax({
	                type : "POST",
	                url: url_link,
	                data: {
	                 visible: value_visible,
	                 id_resource: pk_form,
	                 csrfmiddlewaretoken: '{{ csrf_token }}',
	                 dataType: "json",
	                },

	                success: function(data){
	                  var message = data['success']
	                  var info = data['information']
	                   $('#message_'+ pk_form).html($('<strong>'+ message + '</strong>'))
	                   $('#information_message').html($('<strong>'+ info + '</strong>'))
	                },

	                failure: function() {
	                  console.log('failure')
	                }


	            });

	  }

function change_flag(resource){
  var url = "{% url 'githubadmin:change_flag_resource' %}"
  var flagValue = $('#select_flag_for'+resource).find(":selected").val();
  $.ajax({
	                type : "POST",
	                url: url,
	                data: {
	                  id_resource: resource,
                    flag_option: flagValue,
	                  csrfmiddlewaretoken: '{{ csrf_token }}',
	                  dataType: "json",

	                },

	                success: function(data){
	                  var message = data['success']
	                   $('#message_'+ resource).html($('<strong>'+ message + '</strong>'))
	                },

	                failure: function() {
	                  console.log('failure')
	                }


	            });

}

</script>



{% endblock %}


