{% extends "index.html" %}
{% load static i18n %}

{% block title %}
  <title>Exoset - {% trans "Administration GitHub" %} </title>
{% endblock %}
{% block content %}
  <p>{% trans  "In this page all the open pull requests are listed. Only the pull requests that passed the first check (compile latex files without errors) are shown"%}</p>
  <p>{% trans "If you are aware that a pull request has been submitted but it is not listed, it means that this pull request did not pass the first test. " %}</p>
  <p>{% trans "To get more information about the pull request, click on the relative link 'Take action'. Once on details page you can, as administrator, approve the pull request." %}</p>
  <p>{% trans "By approving the pull request you update the exoset database and the new files are included, then you can create/update the metadata and you can make visible or not the resource to the students." %}</p>
<table class="table table-bordered table-responsive table-hover table-striped">


  <thead>
  <th colspan="2"> {% trans "Open pull requests from GitHub" %}</th>
  </thead>
<tbody>
  {% for key, value in data.open.items %}
    <tr>
      <td width="10%"><a href="{% url 'githubadmin:pull_request_detail' key %}" class="button"> {% trans "Take action" %}</a></td>
      <td style="width: 90%">{{ value }}</td>
    </tr>
  {% endfor %}
</tbody>
</table>


  <!--<table class="table table-bordered table-responsive table-hover table-striped">

  <thead>
  <th colspan="2"> {% trans "Closed pull requests from GitHub" %}</th>
  </thead>
  {% for key, value in data.closed.items %}
    <tr>
      <td>{{ key}}</td>
      <td style="width: 90%">{{ value }}</td>
    </tr>
  {% endfor %}
</table>
-->
{% endblock %}

