{% extends "index.html" %}
{% load static i18n group_extra %}

{% block title %}
  <title>Exoset - {% trans "Create metadata file" %} </title>
{% endblock %}



{% block content %}
  <header role="banner" class="header header-light">
    <script src="https://cdn.polyfill.io/v2/polyfill.js?features=String.prototype.includes,Array.prototype.includes,Array.prototype.find,CustomEvent"></script>


  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://test-exoset.epfl.ch">ExoSet</a>
    </p>

    <ul aria-hidden="true" class="nav-header d-none d-xl-flex" >
      <li>
       <a class="nav-item" href="{% url 'githubadmin:list_resources_files' github_repo %}">{% trans "Exercises list in repository" %} <b>{{ github_repo }}</b></a>
      </li>
      <li>
        <a href="{% url  'githubadmin:pull_request_list' github_repo %}">{% trans "Pull requests list" %}</a>
      </li>
    </ul>



    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>

    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|html_decode}}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> <span>FR</span> </button>
              </li>

              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"><span> EN</span> </button>
              </li>
            </ul>
        </form>

    </nav>
    <div class="btn btn-secondary nav-toggle-mobile d-xl-none">
      <span class="label">Menu</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

  <!--- END HEADER ----->
  <!------- MAIN CONTAINER ----------------->
  <div class="main-container">
<div class="nav-toggle-layout nav-aside-layout">
  <div class="overlay"></div>

  <nav id="main-navigation" class="nav-main" role="navigation">
    <div class="nav-wrapper">
      <div class="nav-container current-menu-parent">
        <ul class="nav-menu">
          <!--<li class="menu-item-has-children">Categories</li>-->
          <li><a href="{% url 'githubadmin:list_resources_files' github_repo %}">{% trans "Exercises list for the repository" %} "{{ github_repo }}"</a></li>
          <li><a href="{% url  'githubadmin:pull_request_list' github_repo %}">{% trans "Pull requests list" %}</a></li>

        </ul>
      </div>
    </div>
  </nav>
  <!-----------END ASIDE NAVIGATION  ----------------------->

<div class="w-100 pb-5">
  <!----METADATA FORM -->
    <div class="card-body" style="margin-left: 27px!important;">
<form method="post"  id="metadataForm" data-ontology-url="{% url 'githubadmin:ajax_load_ontology' %}" novalidate>
    {% csrf_token %}

<table class="table table_character">
 <tr>
   <td><label for="id_title">{% trans 'Title:*' %}</label><br>
    {{ form.title }}
   </td>
   <td><label for="id_language">{% trans 'Language:' %}</label><br>

     {{ form.language}}

   </td>

   <td rowspan="13" colspan="3">
     <div class="card-body" >
       <div class="chart-area" style="height: 800px;width: 750px">
        <iframe id="exercise_pdf" src="{% static 'pdfjs-2.0/web/viewer.html' %}?file={{ file_location}}" style="border: none;"  width="100%" height="100%">
          {% trans "This browser does not support PDFs. Please download the PDF to view it:" %}
        </iframe>
       </div>
     </div>
   </td>
 </tr>
  <tr>
 <td><label for="id_authors">{% trans 'Collection:' %}*</label><br>
    {{ form.authors }}</td>
    <td><label for="id_difficulty_level">{% trans 'Difficulty level:' %}*</label><br>
    {{ form.difficulty_level }}</td>
 </tr>
  <tr>
    <td><label for="id_family_problem">{% trans 'Family problem' %}</label><br>
    {{ form.family_problem }}</td>
    <td ><label for="id_class_type">{% trans 'Class' %}</label><br>
    {{ form.class_type }}</td>
  </tr>
  <tr>

    <td colspan="2"><label for="id_question_type">{% trans 'Type of question:' %}*</label><br>
    {{ form.question_type }}</td>
  </tr>

  <tr class="table_group">
    <td><label for="id_root_ontology0">{% trans 'Ontology' %}*</label><br>
    {{ form.root_ontology0 }}</td>
    <td><br>{{ form.parent_ontology0 }}
   {{ form.ontology0 }}</td>
  </tr>

  <tr class="table_group">
    <td><label for="id_root_ontology1">{% trans 'Extra ontology' %}</label><br>
    {{ form.root_ontology1 }}</td>
    <td><br>{{ form.parent_ontology1 }}
    {{ form.ontology1 }}</td>
  </tr>

  <tr>
    <td><label for="id_concept0">{% trans "Concept" %}</label><br>
      {{ form.concept0 }}
    </td>
    <td><label for="id_concept1">{% trans "Extra concept" %}</label><br>
    {{ form.concept1 }}
    </td>

  </tr>
  <tr>
    <td><label for="id_concept2">{% trans "Extra concept" %}</label><br>
    {{ form.concept2 }}
    </td>
    <td><label for="id_concept3">{% trans "Extra concept" %}</label><br>
    {{ form.concept3 }}
    </td>

  </tr>
<tr>
  <td colspan="2"><label for="id_concept4">{% trans "Extra concept" %}</label><br>
    {{ form.concept4 }}
    </td>
</tr>
  <tr class="table_group">
    <td><label for="id_prerequisite0">{% trans "Prerequisite" %}</label><br>
    {{ form.prerequisite0 }}
    </td>
    <td><label for="id_prerequisite1">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite1 }}
    </td>

  </tr>
  <tr class="table_group">
    <td><label for="id_prerequisite2">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite2 }}
    </td>
    <td><label for="id_prerequisite3">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite3 }}
    </td>

  </tr>
  <tr class="table_group">
    <td colspan="2"><label for="id_prerequisite4">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite4 }}
    </td>
  </tr>


<tr>
<td>
    <input type="submit" value="Save">
</td>
</tr>

</table>
</form>
<!----END METADATA FORM----->
    </div>
</div>

<script>
  $(function () {

    let url = $("input.prerequisites").attr("url");
    console.log("url is " + url)
    var availableTags = [];
    $.ajax({
        method: 'GET',
        url: url,
        data: {},
        success: function (result) {
            $.each(result["tagsconcepts"], function (a, b) {
                availableTags.push(b)
            });
        },
        error: function(response){
            console.log(response)
        }
    });

    function split( val ) {
      return val.split( /,\s*/ );
    }

    function extractLast( term ) {
      return split( term ).pop();
    }

    $( ".prerequisites").bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          terms.pop();
          terms.push( ui.item.value );
          terms.push( "" );
          if (terms.length > 2) {
            terms.shift()
          }

          this.value = terms.join( ", " );//.replace(", ", "");
          return false;
        },

      });
  });

    //$("#id_root_ontology0").change(function () {
    $(".root_ontology_input").change(function () {
      var url = $('#metadataForm').attr('data-ontology-url');
      var parentId = $(this).val();  // get the selected country ID from the HTML input
      var line = $(this).attr('data-line')
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request
        data: {
          'root': parentId// add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_parent_ontology"+line).html(data);
          //$("#id_ontology"+line).html(data['nephew']);
        }
      });

    });
    $(".parent_ontology_input").change(function () {
      var url = $('#metadataForm').attr('data-ontology-url');
      var parentId = $(this).val();  // get the selected country ID from the HTML input
      var line = $(this).attr('data-line')
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'root': parentId      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_ontology"+line).html(data);

        }
      });

    });

    /* GRAPHSEARCH */
  $(function ()
  {
    var lastEntry = ""
    $(".concepts").keyup(function () {
      var this_concept = $(this).attr('id')
      if ($(this).val() != lastEntry) {
        let url = $("input.concepts").attr("url");
        console.log("url is " + url)
        console.log("t is " + $(this).val())

        $.ajax({
          method: 'GET',
          url: url,
          data: {'term': $(this).val()},
          success: function (result) {
            var availableConcept = [];
            $.each(result["tagsconcepts"], function (a, b) {
              availableConcept.push(b)

            });
        $( "#"+ this_concept ).bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
        .autocomplete({
      source: availableConcept
    });
          },
          error: function (response) {
            console.log(response)
          }
        });
        lastEntry = $(this).val();



      }
    });

  })

  $(function ()
  {
    var lastEntry = ""
    $(".prerequisites").keyup(function () {
      var this_concept = $(this).attr('id')
      if ($(this).val() != lastEntry) {
        let url = $("input.prerequisites").attr("url");
        console.log("url is " + url)
        console.log("t is " + $(this).val())

        $.ajax({
          method: 'GET',
          url: url,
          data: {'term': $(this).val()},
          success: function (result) {
            var availableConcept = [];
            $.each(result["tagsconcepts"], function (a, b) {
              availableConcept.push(b)

            });
        $( "#"+ this_concept ).bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
        .autocomplete({
      source: availableConcept
    });
          },
          error: function (response) {
            console.log(response)
          }
        });
        lastEntry = $(this).val();



      }
    });

  })

  </script>



{% endblock %}
