{% extends "index.html" %}
{% load static i18n  %}

{% block title %}
  <title>Exoset - {% trans "Create metadata file" %} </title>
{% endblock %}



{% block content %}

<form method="post"  id="metadataForm" data-ontology-url="{% url 'githubadmin:ajax_load_ontology' %}" novalidate>
    {% csrf_token %}

<table class="table table_character">
 <tr>
   <td><label for="id_title">{% trans 'Title:*' %}</label><br>
    {{ form.title }}
   </td>
   <td><label for="id_language">{% trans 'Language:' %}</label><br>

     {{ form.language}}

   </td>

   <td rowspan="13" colspan="3">
     <div class="card-body" >
                                    <div class="chart-area" style="height: 800px;width: 550px">
                                        <iframe id="exercise_pdf" src="{% static 'pdfjs-2.0/web/viewer.html' %}?file={{ file_location}}" style="border: none;"  width="100%" height="100%">
                                              {% trans "This browser does not support PDFs. Please download the PDF to view it:" %}

                                              </iframe>
                                    </div>
                                </div>
   </td>
 </tr>
  <tr>
 <td><label for="id_authors">{% trans 'Author:' %}</label><br>
    {{ form.authors }}</td>
    <td><label for="id_difficulty_level">{% trans 'Difficulty level:*' %}</label><br>
    {{ form.difficulty_level }}</td>
 </tr>
  <tr>
    <td><label for="id_family_problem">{% trans 'Family problem' %}</label><br>
    {{ form.family_problem }}</td>
    <td ><label for="id_class_type">{% trans 'Class' %}</label><br>
    {{ form.class_type }}</td>
  </tr>
  <tr>

    <td colspan="2"><label for="id_question_type">{% trans 'Type of question:' %}</label><br>
    {{ form.question_type }}</td>
  </tr>

  <tr class="table_group">
    <td><label for="id_root_ontology0">{% trans 'Ontology' %}</label><br>
    {{ form.root_ontology0 }}</td>
    <td><br>{{ form.parent_ontology0 }}
   {{ form.ontology0 }}</td>
  </tr>

  <tr class="table_group">
    <td><label for="id_root_ontology1">{% trans 'Extra ontology' %}</label><br>
    {{ form.root_ontology1 }}</td>
    <td><br>{{ form.parent_ontology1 }}
    {{ form.ontology1 }}</td>
  </tr>

  <tr>
    <td><label for="id_concept0">{% trans "Concept" %}</label><br>
      {{ form.concept0 }}
    </td>
    <td><label for="id_concept1">{% trans "Extra concept" %}</label><br>
    {{ form.concept1 }}
    </td>

  </tr>
  <tr>
    <td><label for="id_concept2">{% trans "Extra concept" %}</label><br>
    {{ form.concept2 }}
    </td>
    <td><label for="id_concept3">{% trans "Extra concept" %}</label><br>
    {{ form.concept3 }}
    </td>

  </tr>
<tr>
  <td colspan="2"><label for="id_concept4">{% trans "Extra concept" %}</label><br>
    {{ form.concept4 }}
    </td>
</tr>
  <tr class="table_group">
    <td><label for="id_prerequisite0">{% trans "Prerequisite" %}</label><br>
    {{ form.prerequisite0 }}
    </td>
    <td><label for="id_prerequisite1">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite1 }}
    </td>

  </tr>
  <tr class="table_group">
    <td><label for="id_prerequisite2">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite2 }}
    </td>
    <td><label for="id_prerequisite3">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite3 }}
    </td>

  </tr>
  <tr class="table_group">
    <td colspan="2"><label for="id_prerequisite4">{% trans "Extra prerequisite" %}</label><br>
    {{ form.prerequisite4 }}
    </td>
  </tr>


<tr>
<td>
    <input type="submit" value="Save">
</td>
</tr>

</table>
</form>

<script>
  $(function () {

    let url = $("input.prerequisites").attr("url");
    console.log("url is " + url)
    var availableTags = [];
    $.ajax({
        method: 'GET',
        url: url,
        data: {},
        success: function (result) {
            $.each(result["tagsconcepts"], function (a, b) {
                availableTags.push(b)
            });
        },
        error: function(response){
            console.log(response)
        }
    });

    function split( val ) {
      return val.split( /,\s*/ );
    }

    function extractLast( term ) {
      return split( term ).pop();
    }

    $( ".prerequisites").bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
      .autocomplete({
        minLength: 0,
        source: function( request, response ) {
          response( $.ui.autocomplete.filter(
            availableTags, extractLast( request.term ) ) );
        },
        focus: function() {
          return false;
        },
        select: function( event, ui ) {
          var terms = split( this.value );
          terms.pop();
          terms.push( ui.item.value );
          terms.push( "" );
          if (terms.length > 2) {
            terms.shift()
          }

          this.value = terms.join( ", " );//.replace(", ", "");
          return false;
        },

      });
  });

    //$("#id_root_ontology0").change(function () {
    $(".root_ontology_input").change(function () {
      var url = $('#metadataForm').attr('data-ontology-url');
      var parentId = $(this).val();  // get the selected country ID from the HTML input
      var line = $(this).attr('data-line')
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request
        data: {
          'root': parentId// add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_parent_ontology"+line).html(data);
          //$("#id_ontology"+line).html(data['nephew']);
        }
      });

    });
    $(".parent_ontology_input").change(function () {
      var url = $('#metadataForm').attr('data-ontology-url');
      var parentId = $(this).val();  // get the selected country ID from the HTML input
      var line = $(this).attr('data-line')
      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'root': parentId      // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
          $("#id_ontology"+line).html(data);

        }
      });

    });

    /* GRAPHSEARCH */
  $(function ()
  {
    var lastEntry = ""
    $(".concepts").keyup(function () {
      var this_concept = $(this).attr('id')
      if ($(this).val() != lastEntry) {
        let url = $("input.concepts").attr("url");
        console.log("url is " + url)
        console.log("t is " + $(this).val())

        $.ajax({
          method: 'GET',
          url: url,
          data: {'term': $(this).val()},
          success: function (result) {
            var availableConcept = [];
            $.each(result["tagsconcepts"], function (a, b) {
              availableConcept.push(b)

            });
        $( "#"+ this_concept ).bind( "keydown", function( event ) {
        if ( event.keyCode === $.ui.keyCode.TAB &&
            $( this ).data( "ui-autocomplete" ).menu.active ) {
          event.preventDefault();
        }
      })
        .autocomplete({
      source: availableConcept
    });
          },
          error: function (response) {
            console.log(response)
          }
        });
        lastEntry = $(this).val();



      }
    });

  })
  </script>

{% endblock %}
