{% extends "index.html" %}
{% load static i18n group_extra %}

{% block title %}
  <title>Exoset - {% trans "Administration GitHub" %} </title>
{% endblock %}
{% block content %}
<header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://exoset.epfl.ch">ExoSet</a>
    </p>

     <ul aria-hidden="true" class="nav-header d-none d-xl-flex" >
      <li>
       <a class="nav-item" href="{% url 'githubadmin:list_resources_files' github_repo %}">{% trans "Exercises list in repository" %} <b>{{ github_repo }}</b></a>
      </li>
      <li>
        <a href="{% url  'githubadmin:pull_request_list' github_repo %}">{% trans "Pull requests list" %}</a>
      </li>
    </ul>



    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>

    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|html_decode}}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> <span>FR</span> </button>
              </li>

              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"><span> EN</span> </button>
              </li>
            </ul>
        </form>

    </nav>
    <div class="btn btn-secondary nav-toggle-mobile d-xl-none">
      <span class="label">Menu</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

  <!--- END HEADER ----->
  <!------- MAIN CONTAINER ----------------->
  <div class="main-container">
  <!-------- ASIDE NAVIGATION  -------------------------------->
  <!---ASIDE NAVIGATION--->
<div class="nav-toggle-layout nav-aside-layout">
  <div class="overlay"></div>

  <nav id="main-navigation" class="nav-main" role="navigation">
    <div class="nav-wrapper">
      <div class="nav-container current-menu-parent">
        <ul class="nav-menu">
          <!--<li class="menu-item-has-children">Categories</li>-->
          <li><a href="{% url  'githubadmin:pull_request_list' github_repo %}">{% trans "Pull requests list" %}</a></li>

        </ul>
      </div>
    </div>
  </nav>
</div>
  <!-----------END ASIDE NAVIGATION  ----------------------->

   <div class="w-100 pb-5" ><!--
    <main id="main" class="content container-grid" role="main">-->
  <!----SHOWING TABLE RESULTS -->
    <div class="card-body" style="margin-left: 27px!important;">

  <table class="table table-bordered table-responsive table-hover table-striped">
  <tbody>
    <tr>
      <td>{% trans "Title" %}</td>
      <td style="width: 90%">{{ pull_request.title }}</td>
    </tr>
    <tr>
      <td>{% trans "Body" %}</td>
      <td style="width: 90%">{{ pull_request.body }}</td>
    </tr>
    <tr>
      <td>{% trans "Creator" %}</td>
      <td style="width: 90%">{{ pull_request.user.name }}</td>
    </tr>
    <tr>
      <td>{% trans "Last modified" %}</td>
      <td style="width: 90%">{{ pull_request.last_modified }}</td>
    </tr>
    <tr>
      <td>{% trans "Created at" %}</td>
      <td style="width: 90%">{{ pull_request.created_at }}</td>
    </tr>
    <tr>
      <td>{% trans "Number of comments" %}</td>
      <td style="width: 90%">{{ pull_request.comments }} - <a href="{{ pull_request.comments_url }}" target="_blank"> {% trans "Look on Github" %}</a></td>
    </tr>
    <tr>
      <td>{% trans "Number of commits" %}</td>
      <td style="width: 90%">{{ pull_request.commits }}</td>
    </tr>
    <tr>
      <td>{% trans "Mergeable" %}</td>
      <td style="width: 90%">{{ pull_request.mergeable }}</td>
    </tr>
    <tr>
      <td>{% trans "Action: merge pull request" %}</td>
      {% if pull_request.mergeable %}
        <td style="width: 90%"><a href="{% url 'githubadmin:pull_request_merge' github_repo pull_request.number %}">{% trans "Merge" %}</a></td>
      {% else %}
        <td style="width: 90%">{{ pull_request.mergeable_state }}<br>
       {% trans "The pull request's state requires a check to be merged, please look at it on github or contact the administrator." %}</td>

      {% endif %}
    </tr>
  </tbody>
  </table>
    </div>
   </div>
  </div>
{% endblock %}
