{% extends "index.html" %}
{% load static i18n %}

{% block title %}
  <title>Exoset - {% trans "Administration GitHub" %} </title>
{% endblock %}
{% block content %}


  <table class="table table-bordered table-responsive table-hover table-striped">
  <tbody>
    <tr>
      <td>{% trans "Title" %}</td>
      <td style="width: 90%">{{ pull_request.title }}</td>
    </tr>
    <tr>
      <td>{% trans "Body" %}</td>
      <td style="width: 90%">{{ pull_request.body }}</td>
    </tr>
    <tr>
      <td>{% trans "Creator" %}</td>
      <td style="width: 90%">{{ pull_request.user.name }}</td>
    </tr>
    <tr>
      <td>{% trans "Last modified" %}</td>
      <td style="width: 90%">{{ pull_request.last_modified }}</td>
    </tr>
    <tr>
      <td>{% trans "Created at" %}</td>
      <td style="width: 90%">{{ pull_request.created_at }}</td>
    </tr>
    <tr>
      <td>{% trans "Number of comments" %}</td>
      <td style="width: 90%">{{ pull_request.comments }} - <a href="{{ pull_request.comments_url }}" target="_blank"> {% trans "Look on Github" %}</a></td>
    </tr>
    <tr>
      <td>{% trans "Number of commits" %}</td>
      <td style="width: 90%">{{ pull_request.commits }}</td>
    </tr>
    <tr>
      <td>{% trans "Mergeable" %}</td>
      <td style="width: 90%">{{ pull_request.mergeable }}</td>
    </tr>
    <tr>
      <td>{% trans "Action: merge pull request" %}</td>
      {% if pull_request.mergeable %}
        <td style="width: 90%"><a href="{% url 'githubadmin:pull_request_merge' pull_request.number %}">{% trans "Merge" %}</a></td>
      {% else %}
        <td style="width: 90%">{{ pull_request.mergeable_state }}</td>
                <td style="width: 90%"><a href="{% url 'githubadmin:pull_request_merge' pull_request.number %}">{% trans "Merge" %}</a></td>

      {% endif %}
    </tr>
  </tbody>
  </table>
{% endblock %}
