{% extends "base_template.html" %}
{% load static i18n group_extra %}

{% block title %}
  <title>Exoset - {% trans "Administration GitHub" %} </title>
{% endblock %}
{% block content %}
<header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://test-exoset.epfl.ch">ExoSet</a>
    </p>





    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>

    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path|html_decode}}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> <span>FR</span> </button>
              </li>

              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"><span> EN</span> </button>
              </li>
            </ul>
        </form>

    </nav>
    <div class="btn btn-secondary nav-toggle-mobile d-xl-none">
      <span class="label">Menu</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>

  <!--- END HEADER ----->
  <!------- MAIN CONTAINER ----------------->
  <div class="main-container">
  <!-------- ASIDE NAVIGATION  -------------------------------->
  <!---ASIDE NAVIGATION--->
<div class="nav-toggle-layout nav-aside-layout">
  <div class="overlay"></div>

  <nav id="main-navigation" class="nav-main" role="navigation">
    <div class="nav-wrapper">
      <div class="nav-container current-menu-parent">
        <ul class="nav-menu">
          <!--<li class="menu-item-has-children">Categories</li>-->

        </ul>
      </div>
    </div>
  </nav>
</div>
  <!-----------END ASIDE NAVIGATION  ----------------------->

   <div class="w-100 pb-5" ><!--
    <main id="main" class="content container-grid" role="main">-->
  <!----SHOWING TABLE RESULTS -->
    <div class="card-body" style="margin-left: 27px!important;">



<table class="table table-bordered table-responsive table-hover table-striped">


  <thead>
  <th colspan="2"> {% trans "Available repositories" %}</th>
  </thead>
<tbody>
  {% for repository in list_repositories %}
    <tr>
      <td width="10%"><a href="{% url 'githubadmin:list_resources_files' repository.repository_name %}" class="button"> {{ repository.repository_name }}</a></td>

    </tr>
  {% endfor %}
</tbody>
</table>
  </div>
  </div>
  </div>

{% endblock %}

