{% extends "base_template.html" %}
{% load static i18n %}

{% block title %}
  <title> Exoset - {% trans "About" %}</title>
{% endblock %}
{% block content %}
  <header role="banner" class="header header-light">
  <div class="header-light-content">
    <a class="logo" href="https://www.epfl.ch">
      <img src="{% static '/svg/epfl-logo.svg' %}" alt="Logo EPFL, École polytechnique fédérale de Lausanne" class="img-fluid">
    </a>
    <p class="site-title">
      <a href="https://exoset.epfl.ch">ExoSet</a>
    </p>

    <ul aria-hidden="true" class="nav-header d-none d-xl-flex">
      {% for parent_ontology in list_parent_ontology %}
        <li id="menu-item-{{ forloop.counter }}" {% if breadcrumb1 == parent_ontology %} class="current-menu-item" {% endif %}>
          <a class="nav-item" href="{% url 'document:exercises-list' ontologyRoot=parent_ontology %}" > {{ parent_ontology }}</a>
        </li>
      {% endfor %}
    </ul>


    <form action="#" class="d-xl-none">
      <a id="search-mobile-toggle" class="search-mobile-toggle searchform-controller" href="#">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
        <span class="toggle-label sr-only">Afficher / masquer le formulaire de recherche</span>
      </a>
      <div class="input-group search-mobile" role="search">
        <div class="input-group-prepend">
          <span class="input-group-text">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-search"></use>
            </svg>
          </span>
        </div>
        <label for="search" class="sr-only">Rechercher sur le site</label>
        <input type="text" class="form-control" name="search" placeholder="Rechercher">
        <div class="input-group-append">
          <a id="search-mobile-close" class="search-mobile-close searchform-controller" href="#">
            <svg class="icon" aria-hidden="true">
              <use xlink:href="#icon-close"></use>
            </svg>
            <span class="toggle-label sr-only">Masquer le formulaire de recherche</span>
          </a>
        </div>
      </div>
    </form>
    <div class="dropdown dropright search d-none d-xl-block">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">
        <svg class="icon" aria-hidden="true">
          <use xlink:href="#icon-search"></use>
        </svg>
      </a>
      <form action="#" class="dropdown-menu border-0 p-0">
        <div class="search-form mt-1 input-group">
          <label for="search" class="sr-only">Rechercher sur le site</label>
          <input type="text" class="form-control" name="search" placeholder="Rechercher">
          <button type="submit" class="d-none d-xl-block btn btn-primary input-group-append">Valider</button>
        </div>
      </form>
    </div>

    <nav class="nav-lang nav-lang-short ml-auto">

        <form id="select-language" action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ request.get_full_path }}" />
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul>
              <li>
                <button {% if LANGUAGE_CODE == 'fr' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="fr" aria-label="Français"> <span>FR</span> </button>
              </li>
              <li>
                <span class="gray-color"></span>
              </li>
              <li>
                <button {% if LANGUAGE_CODE == 'en' %} class="language_button active" {% else %} class="language_button gray-color" {% endif %} name="language" value="en" aria-label="English"><spam> EN</spam> </button>
              </li>
            </ul>
        </form>

    </nav>
    <div class="btn btn-secondary nav-toggle-mobile d-xl-none">
      <span class="label">Menu</span>
      <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
</header>
<!--END HEADER -->

<div class="main-container">
  <!-- BREADCRUMB -->
  <div class="breadcrumb-container">
    <nav id="breadcrumb-wrapper" class="breadcrumb-wrapper" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'document:exercises-list-no-filter' %}"><svg class="icon" aria-hidden="true"><use xlink:href="#icon-home">
            <symbol id="icon-home" viewBox="0 0 11 12"> <path d="m0 5 5.25-5 5.25 5v7H0z" fill-rule="evenodd"></path>
            </symbol></use>
          </svg></a>
        </li>


          <li class="breadcrumb-item">
            <a href="{% url  'about'  %}">{% trans "About ExoSet" %}</a>
          </li>

      </ol>
    </nav>
  </div>



<div class="main-container">
  <div>
    <div class="w-100 pb-5">
      <main id="main" class="content container-grid" role="main">
        <article class="blog-post">
          <header class="entry-header mb-5">
            <h1 itemprop="name">{% trans "About ExoSet" %}</h1>
          </header>
          <div class="entry-content mb-5">
            <p>{% blocktrans %}
      The objective of the ExoSet project is to provide students and teachers of general physics courses at
      EPFL with complete exercises (statement and answer key).<br>
      For students, it is a resource for exam preparation allowing them to practice with exercises given in other
      sections by other teachers. The exercises are provided as pdf files.<br>
      For teachers, it is a resource for preparing their weekly series and exams. The exercises are provided as
      editable latex files.
    {% endblocktrans %}</p>
            <p><u>{% trans "Contact us:" %}</u></p>
            <p>{% trans "Project manager" %} - <a href="https://people.epfl.ch/jean-marie.furbringer" target="_blank">Jean-Marie Fürbringer</a> <a href="mailto:jean-marie.furbringer@epfl.ch"><i class="fa fa-envelope-open-o"></i></a></p>
          <p>
            {% blocktrans %}
              The download of the source code (latex files) of the exercises is for teachers only. Simply write to us to get <a style="padding-left: 5px" href="mailto:maria.divincenzo@epfl.ch?subject=grant access source code"> access</a>
            {% endblocktrans %}
          </p>
          <p>
          {% blocktrans %}
            If you want to be part of project and share your work with the section of Physics, just <a style="padding-left: 5px" href="mailto:maria.divincenzo@epfl.ch?subject=github access">write to us</a>
          {% endblocktrans %}
          </p>
          </div>
        </article>
      </main>
    </div>
  </div>

</div>

{% endblock %}
