{% extends "base.html" %}
{% load static i18n %}
<style>
table#resource_details{
  border-collapse: collapse;
}


table#resource_details tbody tr td{
  border-bottom: 1pt solid black;
}
</style>
{% block title %}
  <title> Exoset - {% trans "About" %}</title>
{% endblock %}
{% block content %}
  <div class="container">
  <div class="row" id="about">
    <h6 class="m-0 font-weight-bold">{% trans "About Exoset" %}</h6>
    <div>{% blocktrans %}
      The objective of the ExoSet project is to provide students and teachers of general physics courses at
      EPFL with complete exercises (statement and answer key).<br>
      For students, it is a resource for exam preparation allowing them to practice with exercises given in other
      sections by other teachers. The exercises are provided as pdf files.<br>
      For teachers, it is a resource for preparing their weekly series and exams. The exercises are provided as
      editable latex files.
    {% endblocktrans %}
    </div>
  </div>
  <div class="row" id="contacts">
    <h6 class="m-0 font-weight-bold">{% trans "Contact us" %}</h6>
  </div>
    <div class="row">
      <div class="col-xm-8">{% trans "Project manager" %} - <a href="https://people.epfl.ch/jean-marie.furbringer" target="_blank">Jean-Marie Fürbringer</a> </div>
      <div class="col-xm-2" style="padding-left: 10px;">
      <a href="mailto:jean-marie.furbringer@epfl.ch"><i class="far fa-envelope"></i></a>
      </div>
    </div>
  <div class="row" id="permission_download">
    <h6 class="m-0 font-weight-bold">{% trans "Permission to download source code" %}</h6>
  </div>

    <div class="row">{% blocktrans %}
      The download of the source code of the exercises is for teachers only. Simply write to us to get <a style="padding-left: 5px" href="mailto:maria.divincenzo@epfl.ch?subject=grant access source code"> access</a>
    {% endblocktrans %}
    <br>
    {% blocktrans %}
      If you want to be part of project and share your work with the section of Physics, just <a style="padding-left: 5px" href="mailto:maria.divincenzo@epfl.ch?subject=github access">write to us</a>
    {% endblocktrans %}
    </div>

  <div class="row" id="terms_conditions">
    <h6 class="m-0 font-weight-bold">{% trans "Terms and conditions" %}</h6>
    <div>{% blocktrans %}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
      dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
      ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
      fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
      mollit anim id est laborum.
    {% endblocktrans %}
    </div>
  </div>
  </div>
{% endblock %}
